h1{
    color: rgb(244, 152, 66);
  }
body{
    background-color: rgb(147, 165, 173);
  }
#header{
    background-color: rgba(255,255,255,.5);
  }
th {
      text-align:left;
  }
  /* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: red;
}
a {
text-decoration: none;
}
